
.img{
    margin-left: 245px;
    width: 600px;
}
.btn1{
    margin-left: 440px;
}
.btn2{
    margin-left: 40px;
}

.btn1:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.btn2:hover{
    background-color: rgb(52, 0, 0);
    color: #fff;
}

@media (max-width: 1199.98px) {
    .img{
        margin-left: 150px;
        width: 600px;
    }
    .btn1{
        margin-left: 345px;
    }
    .btn2{
        margin-left: 40px;
    }
}

